<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main layout:fragment="content">
  <form class="col s12" th:action="@{/member/signup}" th:object="${signupRequest}" method="post" id="signupForm">
    <div class="row">
      <div class="input-field col s7 ">
        <i class="material-icons prefix">account_circle</i>
        <input th:field="*{userId}" type="text" placeholder="userId"
                    class="validate"/>
        <span class="helper-text" id="idCheckMsg" style="display: none"></span>
      </div>
      <div class="input-field col s7 ">
        <i class="material-icons prefix">account_circle</i>
        <input th:field="*{password}" type="password" placeholder="password" class="validate"/>
        <span th:errors="*{password}" class="helper-text"></span>
      </div>
      <div class="input-field col s7 ">
        <i class="material-icons prefix">email</i>
        <input th:field="*{email}" type="email" placeholder="email" class="validate"/>
        <span th:errors="*{email}" class="helper-text"></span>
      </div>
      <div class="input-field col s7 ">
        <i class="material-icons prefix">phone</i>
        <input th:field="*{tel}" type="tel" placeholder="tel" class="validate"/>
        <span th:errors="*{tel}" class="helper-text"></span>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light offset-s1" type="submit" name="action">
        Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>

  <script>
    const validElement = document.querySelector('#idCheckMsg');
    document.querySelector('#userId').addEventListener('focusout', async ev => {
      const id = ev.target.value;
      if(!id) return;
      const response = await fetch('/api/member/exists/' + id);
      const data = await response.json();
      validElement.style.display = 'block';
      validElement.textContent = data.data ? '사용이 불가능한 아이디 입니다.' : '사용 가능한 아이디 입니다.';
    });

    document.querySelector('#signupForm').addEventListener('submit', async ev => {
      // form tag 의 기본 이벤트 차단
      ev.preventDefault();

      const id = document.querySelector('#userId').value;
      if(!id) return;
      const response = await fetch('/api/member/exists/' + id);
      const data = await response.json();

      if(data.data){
        document.querySelector('#userId').focus();
        validElement.textContent = '사용이 불가능한 아이디 입니다.';
        return;
      }

      ev.target.submit();
    });
  </script>
</main>
</body>
</html>