<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main layout:fragment="content">
  <div th:if="${param.error}" class="card-panel red lighten-2 text-white">아이디나 비밀번호를 확인하세요</div>
  <form class="col s12" th:action="@{/member/signin}" th:object="${signinRequest}" method="post"
        id="signupForm">
    <div class="row">
      <div class="input-field col s7 ">
        <i class="material-icons prefix">account_circle</i>
        <input th:field="*{userId}" type="text" placeholder="userId" class="validate"/>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s7 ">
        <i class="material-icons prefix">account_circle</i>
        <input th:field="*{password}" type="password" placeholder="password" class="validate"/>
        <span th:errors="*{password}" class="helper-text"></span>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light offset-s1" type="submit" name="action">
        Submit
        <i class="material-icons right">send</i>
      </button>
    </div>

  </form>

</main>
</body>
</html>