<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grepp.spring.app.model.rent.RentRepository">

  <resultMap id="rentMap" type="Rent">
    <id property="rentId" column="rent_id"/>
    <collection property="rentBooks" ofType="RentBook"
      column="rent_id" select="selectRentBookByRentId"/>
  </resultMap>

  <select id="selectAll" resultMap="rentMap">
    select * from rent
  </select>

  <select id="selectRentBookByRentId" parameterType="int"
    resultType="RentBook">
    select * from rent_book where rent_id = #{rentId}
  </select>

</mapper>