html {
  font-size: 30px;
  font-family: "Times New Roman", serif;
}

body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  color: white;
}

/* ****************** header ******************/
.header {
  width: 100vw;
  height: 10vh;
}

.logo {
  margin-right: 10px;
}


/* ****************** section ******************/
.section {
  width: 100vw;
  min-height: 80vh;
}

.content {
  flex-direction: column;
  text-align: center;
  width: 50vw;
  height: 25vw;
  min-width: 500px;
  min-height: 250px;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner {
  flex-direction: column;
  height: 4rem;
  font-size: 1.5rem;
}

.qrcode_inp {
  width: 10rem;
  font-size: 1rem;
  border: 0;
  border-radius: 20px;
  padding: 5px;
  outline: none;
}

/* ****************** footer ******************/
.footer {
  width: 100vw;
  height: 10vh;
}

.copyright {
  margin-left: 10px;
}


@media (width < 1200px) {
  html {
    font-size: 15px;
  }

  body {
    background-image: url("../img/bg_night.jpg");
  }

  .content {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}