<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grepp.spring.app.model.member.MemberRepository">

  <resultMap id="memberMap" type="Member">
    <id property="userId" column="user_id"/>
    <association property="info" javaType="MemberInfo"
                 column="user_id" select="selectInfoById"/>
  </resultMap>

  <select id="selectById" resultMap="memberMap">
    select * from member where user_id = #{userId} and activated
  </select>

  <select id="selectInfoById" resultType="MemberInfo">
    select * from member_info where user_id = #{userId}
  </select>


</mapper>